#time__hour-foreground {
  fill: firebrick;
}

#time__hour-background {
  fill: firebrick;
  fill-opacity: .3;
}

#time__minute-foreground {
  fill: orange;
}

#time__minute-background {
  fill: orange;
  fill-opacity: .3;
}

#time__second-foreground {
  fill: #0000ff;
}

#time__second-background {
  fill: #0000ff;
  fill-opacity: .3;
}

#date__day-foreground {
  fill: teal;
}

#date__day-background {
  fill: teal;
  fill-opacity: .3;
}

#date__month-foreground {
  fill: blueviolet;
}

#date__month-background {
  fill: blueviolet;
  fill-opacity: .3;
}

#date__year-background {
  fill: orange;
}

#heart-rate {
  fill: olive;
}

#user-activity__steps-foreground {
  fill: cornflowerblue;
}

#user-activity__steps-background {
  fill: cornflowerblue;
  opacity: .3;
}

#user-activity__distance-foreground {
  fill: darkorchid;
}

#user-activity__distance-background {
  fill: darkorchid;
  opacity: .3;
}

#user-activity__floors-foreground {
  fill: orchid;
}

#user-activity__floors-background {
  fill: orchid;
  opacity: .3;
}

#user-activity__energy-foreground {
  fill: goldenrod;
}

#user-activity__energy-background {
  fill: goldenrod;
  opacity: .3;
}

#user-activity__time-foreground {
  fill: hotpink;
}

#user-activity__time-background {
  fill: hotpink;
  opacity: .3;
}
