#time__hour-foreground {
  fill: #ffffff;
  fill-opacity: .8;
}

#time__hour-text {
  fill: black;
  font-family: "Colfax-Black";
}

#time__minute-foreground {
  fill: #ffffff;
  fill-opacity: .5;
}

#time__minute-text {
  fill: white;
  font-family: "Seville-Book";
  font-weight: bold;
}

#time__second-foreground {
  fill: #ffffff;
  fill-opacity: .1;
}

#time__second-text {
  fill: white;
  font-family: "Seville-Book";
}

.time__text {
  font-family: "Colfax-Black";
  font-size: 43;
  text-anchor: end
}

#date__day-foreground {
  fill: #ffffff;
  fill-opacity: .2;
}

#date__month-foreground {
  fill: #ffffff;
  fill-opacity: .5;
}

#date__year-background {
  fill: #ffffff;
  fill-opacity: .8;
}

#date__day-text {
  fill: white;
  font-family: "Colfax-Black";
  text-anchor: end;
  font-size: 28;
}

#date__day-text-suffix {
  fill: white;
  font-family: "Tungsten";
  text-anchor: end;
  font-size: 20;
}

#date__month-text {
  fill: white;
  font-family: "Tungsten";
  text-anchor: end;
  font-size: 35;
}

#date__year-text {
  fill: black;
  fill-opacity: .5;
  font-family: "Colfax-Black";
  text-anchor: end;
  font-size: 45;
}

#heart-rate {
  fill: #ffffff;
  fill-opacity: .8;
}

#heart-rate__icon {
  opacity: 1;
}

.heart-rate__text {
  fill: black;
  font-family: "Colfax-Black";
  font-size: 45;
  text-anchor: end
}

#user-activity__steps-foreground {
  fill: #ffffff;
  fill-opacity: .5;
}

#user-activity__steps-value-text {
  fill: white;
  font-family: "Seville-Book";
}

#user-activity__distance-foreground {
  fill: #ffffff;
  fill-opacity: .2;
}

#user-activity__distance-value-text {
  fill: white;
  font-family: "Seville-Book";
}

#user-activity__floors-foreground {
  fill: #ffffff;
  fill-opacity: .5;
}

#user-activity__floors-value-text {
  fill: white;
  font-family: "Seville-Book";
}

#user-activity__energy-foreground {
  fill: #ffffff;
  fill-opacity: .2;
}

#user-activity__energy-value-text {
  fill: white;
  font-family: "Seville-Book";
}

#user-activity__time-foreground {
  fill: #ffffff;
  fill-opacity: .5;
}

#user-activity__time-value-text {
  fill: white;
  font-family: "Seville-Book";
}

.user-activity__text {
  font-family: "Colfax-Black";
  font-size: 28;
  text-anchor: end
}

.user-activity__icon {
  opacity: 1;
}
