#time__hour-foreground {
  fill: firebrick;
}

#time__hour-background {
  fill: firebrick;
  fill-opacity: .3;
}

#time__minute-foreground {
  fill: orange;
}

#time__minute-background {
  fill: orange;
  fill-opacity: .3;
}

#time__second-foreground {
  fill: olivedrab;
}

#time__second-background {
  fill: olivedrab;
  fill-opacity: .3;
}

#date__day-foreground {
  fill: firebrick;
}

#date__day-background {
  fill: firebrick;
  fill-opacity: .3;
}

#date__month-foreground {
  fill: olivedrab;
}

#date__month-background {
  fill: olivedrab;
  fill-opacity: .3;
}

#date__year-background {
  fill: orange;
}

#heart-rate {
  fill: firebrick;
}

#user-activity__steps-foreground {
  fill: olivedrab;
}

#user-activity__steps-background {
  fill: olivedrab;
  opacity: .3;
}

#user-activity__distance-foreground {
  fill: orange;
}

#user-activity__distance-background {
  fill: orange;
  opacity: .3;
}

#user-activity__floors-foreground {
  fill: olivedrab;
}

#user-activity__floors-background {
  fill: olivedrab;
  opacity: .3;
}

#user-activity__energy-foreground {
  fill: orange;
}

#user-activity__energy-background {
  fill: orange;
  opacity: .3;
}

#user-activity__time-foreground {
  fill: olivedrab;
}

#user-activity__time-background {
  fill: olivedrab;
  opacity: .3;
}
